.sorting-app-container {
  display: flex;
  /* background: green; */
  height: calc(100vh - 12rem);
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
  gap: 0 1rem;
  align-items: flex-end;
  gap: 0 1px;
}

.sorting-app-container h1 {
  margin: 0;
}

.bar {
  background: #0ea5e9;
  display: flex;
  align-items: flex-end;
  border-radius: 0.25rem;
  width: 3rem;
  margin: 0 1px;
}
