.nav {
  height: 6rem;
  background: #16161a;
  background: #d946ef;
  background: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  font-size: 2rem;
  color: #fffffe;
}
